.submit-btn {
    margin-top: 20px;
    border: none;
    padding: 10px 20px;
    background-color: #04AA6D;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s ease;
}

.submit-btn:hover {
    background-color: saddlebrown;
}